* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_container {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

#section1 {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap; /* For wraping so that the first two boxes are on the same line and the third one is below*/
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}


.logo {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 60px; 
    height: 60px;
    border-radius: 50%;
  }